.headerMain {
  margin: 70px 0 0 80px !important;
  background-color: var(--background-DarkBlue);
  padding: 30px;
  border-radius: 25px 25px 0 0;
  width: 90% !important;
}

.headerContent {
  display: flex;
  align-items: center;
}
