:root{
  --mainBackground:#484c68;
  --background-DarkBlue: #01041f;
  --blueColor:#00d7cb;
  --lightPurple:#23263c;
  --lightGray:#bfbebe;
  --orangeColor:orange;
  --yellowColor:yellow;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "digital-7.regular";
  src: url("./Fonts/digital-7.regular.ttf");
}
